/* .App {
  align-items: center;
  justify-content: center;
  display:flex;

} */
/* .Card{
  background:blue;
} */

/* .App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App{
  background-color : black;
}
.Card{
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}
.CardNumber{
  color:red;
  
}
.homeTest{
  background-color: lightblue;
  height: 10vh;
}